/* 
	Code formatted using Prettier: https://github.com/prettier/prettier-vscode
*/

/* 
   ========================
        Default colours
   ========================
*/
/* Various colours sourced from the gruvbox light theme
	See: https://github.com/morhetz/gruvbox */
:root {
	--colour-bg-1: #f9f5d7;
	--colour-bg-2: #ebdbb2;
	--colour-bg-3: #a89984;
	--colour-bg-4: #9d0006;
	--colour-bg-5: #282828;
	--colour-lighttext-contrasting: #fbf1c7;
	--colour-normaltext: #504945;
	--colour-darktext: #fbf1c7;
	--colour-lighttext: #665c54;
	--colour-accent1: #427b58;
	--colour-accent2: #427b58;
	--colour-accent3: #076678;
	--colour-accent4: #fbf1c7;
	--colour-rule: #458588;
}

@media (prefers-color-scheme: dark) {
	/* Various colours sourced from the gruvbox dark theme
	See: https://github.com/morhetz/gruvbox */
	:root {
		--colour-bg-1: #282828;
		--colour-bg-2: #1d2021;
		--colour-bg-3: #7c6f64;
		--colour-bg-4: #689d6a;
		--colour-bg-5: #32302f;
		--colour-lighttext-contrasting: #282828;
		--colour-normaltext: #d5c4a1;
		--colour-darktext: #282828;
		--colour-lighttext: #928374;
		--colour-accent1: #b8bb26;
		--colour-accent2: #8ec07c;
		--colour-accent3: #d79921;
		--colour-accent4: #282828;
		--colour-rule: #b8bb26;
	}
}
/* 
   =================
        Fonts
   =================
*/

/* roboto-regular - latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/roboto-v20-latin-regular.eot"); /* IE9 Compat Modes */
	src: local(""),
		/* IE6-IE8 */ url("./fonts/roboto-v20-latin-regular.eot?#iefix")
			format("embedded-opentype"),
		/* Super Modern Browsers */ url("./fonts/roboto-v20-latin-regular.woff2")
			format("woff2"),
		/* Modern Browsers */ url("./fonts/roboto-v20-latin-regular.woff")
			format("woff"),
		/* Safari, Android, iOS */ url("./fonts/roboto-v20-latin-regular.ttf")
			format("truetype"),
		/* Legacy iOS */ url("./fonts/roboto-v20-latin-regular.svg#Roboto")
			format("svg");
	font-display: swap;
}

/* roboto-mono-regular - latin */
@font-face {
	font-family: "Roboto Mono";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/roboto-mono-v13-latin-regular.eot"); /* IE9 Compat Modes */
	src: local(""),
		/* IE6-IE8 */ url("./fonts/roboto-mono-v13-latin-regular.eot?#iefix")
			format("embedded-opentype"),
		/* Super Modern Browsers */
			url("./fonts/roboto-mono-v13-latin-regular.woff2") format("woff2"),
		/* Modern Browsers */ url("./fonts/roboto-mono-v13-latin-regular.woff")
			format("woff"),
		/* Safari, Android, iOS */ url("./fonts/roboto-mono-v13-latin-regular.ttf")
			format("truetype"),
		/* Legacy iOS */
			url("./fonts/roboto-mono-v13-latin-regular.svg#RobotoMono") format("svg");
	font-display: swap;
}

/* 
   ==================
        Styling
   ==================
*/

/* General defaults */
* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	overflow: visible;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 6em;
}

/* Default colours */
body {
	background-color: var(--colour-bg-1);
	color: var(--colour-normaltext);
	height: 100%;
}

p {
	max-width: 80%;
	margin: 0 auto;
	border-radius: 2em;
}

a:hover,
a:active {
	opacity: 80%;
}

header {
	z-index: 1;
	position: fixed;
	top: 0;
	margin: auto;
	width: 100%;
	user-select: none;
}

/* Top navigation bar */
#top-menu {
	width: 100%;
	height: 4em;
	background-color: var(--colour-bg-2);
	font-size: 1.125em;
	position: fixed;
	transition: top 0.3s ease-in-out;
}

#top-menu > ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: center;
}

#top-menu > ul > li {
	line-height: 4em;
	transition-property: background-color, border-radius;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

#top-menu > ul > li > a {
	display: inline-block;
}

#top-menu > ul > li > a,
#nav-projects-li {
	cursor: pointer;
	text-decoration: none;
	color: var(--colour-normaltext);
	padding: 0 0.6em;
}

#top-menu li:hover {
	background-color: var(--colour-accent1);
	color: var(--colour-darktext);
	border-radius: 10%;
}

#top-menu a:hover {
	color: var(--colour-darktext);
}

.nav-project-sublist {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	visibility: hidden;
	list-style-type: none;
	border-radius: 0 0 10px 10px;
	transform: translateX(-0.40625em);
	background-color: var(--colour-bg-2);
	width: 10ch;
}

.nav-project-sublist > li {
	width: 90%;
	padding: 0 0.3em;
	opacity: 0.9;
}

.nav-project-sublist a {
	padding: 0;
	width: 100%;
	display: inline-block;
	text-decoration: none;
	color: var(--colour-lighttext);
	transition: none;
}

.nav-project-sublist > li:hover a {
	color: var(--colour-darktext);
}

/* Hover to show Projects submenu (can be used instead of JavaScript click-to-show) */
#nav-projects-li:hover #nav-project-sublist {
	visibility: visible;
}

#nav-projects-li:not(hover) #nav-project-sublist {
	visibility: hidden;
}

#nav-project-sublist:not(hover) {
	visibility: hidden;
}

#Hello {
	display: inline-block;
}

/* Simple separator between sections */
hr {
	margin: 8em auto 6em auto;
	color: var(--colour-rule);
	border-width: 0.1em;
	border-style: solid;
	border-radius: 1em;
	border-color: var(--colour-rule);
	width: 45%;
}

.section-title {
	font-size: 2.5em;
	margin: 0.875em auto 1em auto;
	width: max-content;
	color: var(--colour-accent3);
}

.welcome {
	margin: auto;
	margin-top: 15vh;
	width: calc(100% - 40px);
	line-height: 2.25em;
	max-width: 600px;
}

.welcome > h2 > a {
	color: var(--colour-accent3);
}

section {
	padding: 0;
}

.language {
	margin: 3em auto 1em auto;
	font-size: 2em;
	width: max-content;
	color: var(--colour-accent3);
	font-weight: 800;
}

/* Paragraph after Projects title */
#projects-intro {
	font-size: 1.125em;
	margin-bottom: 15vh;
	line-height: 1.25em;
}

.project-list {
	max-width: 60%;
	margin-top: 1.25em;
	margin-left: 20%;
}
.project-list > ul {
	list-style-type: circle;
}

.project-list > li {
	text-align: left;
	margin: 5px;
}

.project-link,
p a {
	color: var(--colour-accent3);
}

/* Static project cards */

.static-project-cards-wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	align-items: center;
	margin: auto;
}

.static-project-card {
	flex-basis: 40%;
	width: 80%;
	background-color: var(--colour-bg-2);
	color: var(--colour-normaltext);
	line-height: 1.8em;
	margin: 2em 1em;
	display: flex;
	flex-direction: column;
	transition: border-radius 0.5s ease, border-color 0.5s ease;
	border-radius: 5em 2em 5em 2em;
	max-width: 600px;
	padding-bottom: 0.5em;
	padding: 0 0.7em 0.5em 0.7em;
	border: 1px solid transparent;
}

.static-project-card:nth-of-type(even) {
	border-radius: 2em 5em 2em 5em;
}

.static-project-card:hover {
	border-radius: 2em;
	border-color: var(--colour-accent1);
}

.static-project-title {
	margin: 1em auto;
	font-size: 1.5em;
	font-weight: 900;
	max-width: 80%;
	font-family: "Roboto Mono", monospace;
	color: var(--colour-accent1);
}

.static-button {
	position: relative;
	cursor: pointer;
	display: inline-block;
	padding: 0.5em 1em;
	margin: 1.5625em auto;
	text-decoration: none;
	border-radius: 6px;
	transition: opacity 0.3s ease, border-radius 0.2s ease, background-color 0.3s ease;
	outline: 2px dotted transparent;
	outline-offset: 1px;
}

.static-button.primary {
	background-color: var(--colour-accent1);
	border: 1px solid var(--colour-bg-5);
	color: var(--colour-bg-1);
}

.static-button.secondary {
	background-color: var(--colour-accent4);
	border: 1px solid var(--colour-accent1);
	color: var(--colour-normaltext);
}

.static-button.secondary:hover {
	color: var(--colour-bg-1);
	background-color: var(--colour-accent2);
}

.static-button::after {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	color: transparent;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: transparent;
	border-radius: 10px;
}

.static-button.view-live::after {
	content: "Check it out live";
}

.static-button.view-code::after {
	content: "View the code";
}

.static-button.primary:hover::after {
	color: var(--colour-bg-1);
	background: linear-gradient(
		to right,
		var(--colour-accent1),
		var(--colour-accent3)
		);
	background-size: 300%;
	animation: animate-bg 3s infinite alternate;
}

.static-button:hover,
.static-button:focus {
	opacity: 0.8;
}

.static-button:focus {
	outline-color: rgb(255, 136, 0);
}

.static-button:focus:not(:focus-visible) {
	outline: none;
}

.tags {
	color: var(--colour-normaltext);
	margin: auto;
	background-color: var(--colour-bg-1);
	margin-bottom: 8px;
	padding: 0 5px;
	border: 2px solid var(--colour-bg-3);
	border-radius: 10px;
}

.lang-tag {
	margin-left: 1px;
}

/* End of static project cards */

#about {
	margin: 5em 0;
}

#about-central-background > .section-title {
	color: var(--colour-lighttext-contrasting);
}

#about-central-background {
	background-color: var(--colour-bg-4);
	padding-top: 0.625em;
	padding-bottom: 0.9375em;
	overflow-y: visible;
	font-size: 1.0625em;
	line-height: 1.5em;
}

#about-central-background > p {
	font-size: 1em;
	color: var(--colour-lighttext-contrasting);
}

#contact {
	padding: 1.875em 0;
	color: var(--colour-normaltext);
}

#contact > h3 {
	color: var(--colour-normaltext);
	font-size: 2em;
}

#contact > p {
	padding: 1.875em 0;
}

.contact-links {
	margin: auto;
}

.contact-links > a {
	font-size: 2em;
	color: var(--colour-accent3);
	margin: 0 1.875em;
}

@keyframes icon-shake {
	0% {
		left: 0;
	}
	25% {
		left: -0.2em;
		top: -0.08em;
	}
	50% {
		left: 0.2em;
		top: -0.08em;
	}
	75% {
		left: -0.2em;
		top: -0.08em;
	}
	100% {
		left: 0;
		top: 0;
	}
}

.icon {
	margin: auto;
	display: grid;
	position: relative;
	animation-timing-function: ease-in-out;
	stroke: var(--colour-accent1);
}

.icon:hover {
	animation: icon-shake 0.6s linear 0.1s 1 alternate;
	opacity: 0.9;
}

.icon-terminal {
	display: inline-block;
	stroke: var(--colour-accent3);
}

.icon-terminal:hover {
	animation: none;
}

.icon-face {
	stroke: var(--colour-bg-1);
}

@keyframes icon-gitlab-shake {
	0% {
		transform: rotateZ(0);
	}
	12.5% {
		transform: rotateZ(10deg);
	}
	25% {
		transform: rotateZ(0);
	}
	37.5% {
		transform: rotateZ(-20deg);
	}
	50% {
		transform: rotateZ(0);
	}
	75% {
		transform: rotateZ(0);
	}
	80% {
		transform: rotateX(-30deg);
	}
	100% {
		transform: rotateX(0);
	}
}

#icon-gitlab:hover {
	animation: icon-gitlab-shake 0.9s linear 0.1s 1 alternate;
	opacity: 0.9;
}

@keyframes icon-linkedin-shake {
	0% {
		transform: scale(1, 1);
	}
	45% {
		transform: scale(1.05, 1.05);
	}
	75% {
		transform: scale(1.05, 1.05);
	}
	100% {
		transform: scale(1, 1);
	}
}

#icon-linkedin:hover {
	animation: icon-linkedin-shake 0.9s linear 0.1s 1 alternate;
	opacity: 0.9;
}

#license {
	margin-top: 4em;
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted var(--colour-accent3);
	user-select: none;
}

#license-tooltip {
	text-align: center;
	background-color: var(--colour-accent1);
	position: absolute;
	width: 90%;
	border-radius: 5px;
	border: 1px solid var(--colour-bg-3);
	line-height: 130%;
	color: var(--colour-bg-1);
	top: -300%;
	left: 5%;
	margin: auto;
	z-index: 1;
	user-select: none;
	opacity: 0;
	transform: translateY(20%);
	transition: transform 0.3s ease, opacity 0.3s ease;
}

#license:active #license-tooltip,
#license:hover #license-tooltip,
#license:focus #license-tooltip {
	opacity: 1;
	transform: translateY(-20%);
}

::selection {
	color: var(--colour-bg-1);
	background: var(--colour-accent1);
}

.wave-separator {
	position: relative;
	display: block;
	top: -1px;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.wave-separator > path {
	fill: var(--colour-bg-4);
}

.wave-separator-flip {
	transform: rotate(180deg);
	top: 3px;
	overflow-y: visible;
}

/* Theme toggle */
#theme-toggle-container {
	display: inline-block;
	right: 5%;
	bottom: 5%;
	height: 45px;
	width: 100px;
	margin: 15px auto;
	padding: 0;
	position: fixed;
	border: 3px solid var(--colour-accent2);
	border-radius: 30px;
	background-color: var(--colour-bg-1);
	transition: background-color 0.5s ease-out;
}

#theme-toggle-checkbox {
	visibility: hidden;
}

.moon,
.sun {
	position: absolute;
	width: 40%;
	height: 100%;
	visibility: hidden;
	display: inline-block;
	transform: scale(0);
	transition: transform 0.2s ease-in;
	fill: var(--colour-accent1);
}

.moon {
	left: 10px;
	stroke: none;
}

.sun {
	right: 10px;
	stroke: var(--colour-accent1);
}

#theme-toggle-container label {
	display: block;
	margin: auto;
	top: 2px;
	left: 5px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	z-index: 1;
	border-radius: 100%;
	background-color: var(--colour-accent2);
	transition: transform 0.3s ease-out;
	box-shadow: none;
}

#theme-toggle-container label::before {
	content: "";
	position: absolute;
	display: inline-block;
	width: 106px;
	height: 51px;
	left: -8px;
	top: -5px;
	border-radius: 30px;
	cursor: pointer;
	transition: none;
}

#theme-toggle-container input[type="checkbox"]:checked + label {
	transform: translateX(50px);
	cursor: pointer;
}

#theme-toggle-container input[type="checkbox"]:checked + label::before {
	transform: translateX(-50px);
}

#theme-toggle-container input[type="checkbox"]:checked ~ .moon {
	visibility: visible;
	transform: scale(0.9);
}

#theme-toggle-container label:hover {
	transform: scale(1.05);
	opacity: 90%;
}
#theme-toggle-container input[type="checkbox"]:checked + label:hover {
	transform: translateX(50px) scale(1.05);
	opacity: 90%;
}
#theme-toggle-container label:active,
#theme-toggle-container label:focus {
	transform: scale(0.9);
}

#theme-toggle-container input[type="checkbox"]:checked + label:active,
#theme-toggle-container input[type="checkbox"]:checked + label:focus {
	transform: translateX(50px) scale(0.9);
}

#theme-toggle-container
	input[type="checkbox"]:checked
	~ #theme-toggle-container {
	background-color: var(--colour-accent3);
}

#theme-toggle-container input[type="checkbox"]:not(:checked) ~ .sun {
	visibility: visible;
	transform: scale(0.9) rotate(-45deg);
}

/* 404 page */
.body-404 {
	padding: 0;
	margin: 0;
	height: 100vh;
	overflow-y: hidden;
}

.title-404 {
	display: block;
}

.section-404 {
	margin: auto;
	width: calc(100% - 40px);
	max-width: 600px;
}

.header-404 {
	padding-top: 15vh;
	line-height: 2em;
}

.options-404 {
	margin-top: 3em;
	line-height: 1.5em;
}

.options-404 p {
	padding: 0.25em;
}

.options-404 p:last-of-type {
	padding: 2.5em;
}

.static-button-404::after {
	content: "Go to homepage";
}

.footer-404 {
	position: absolute;
	bottom: 2vh;
	width: 100%;
}

/* Hide top navbar on very thin screens */
@media only screen and (max-width: 330px) {
	/* Top navigation bar */
	#top-menu {
		display: none;
	}

	.welcome {
		margin-top: 2.5em;
	}
}

/* Tablets and above ONLY */
@media only screen and (min-width: 768px) {
	/* Top navigation bar */
	#top-menu {
		font-size: 1.25em;
	}

	#top-menu > ul {
		margin-bottom: 1.25em;
	}

	#top-menu > ul > li > a {
		padding: 0 1.125em;
	}

	.nav-project-sublist {
		margin-bottom: 1.25em;
	}

	p {
		font-size: 1em;
		max-width: 768px;
	}

	hr {
		width: 40%;
	}

	.project-inner {
		max-width: 768px;
		margin: auto;
	}

	.static-project-card {
		border-radius: 6em 2em 6em 2em;
	}

	.static-project-card:nth-of-type(even) {
		border-radius: 2em 6em 2em 6em;
	}

	.static-project-card:hover {
		border-radius: 2em;
	}

	.static-project-card:nth-of-type(even):hover {
		border-radius: 2em;
	}

	.static-project-card > p {
		max-width: 80%;
	}

	#contact > h3 {
		font-size: 2.25em;
	}

	/* Theme toggle */
	#theme-toggle-container {
		top: 0;
		bottom: 0;
	}
}

/* PCs above ONLY */
@media only screen and (min-width: 1280px) {
	hr {
		width: 30%;
	}

	.static-project-cards-wrapper {
		max-width: 80%;
		flex-direction: row;
	}

	.static-project-card {
		margin-left: 3em;
		margin-right: 3em;
	}

	.project-card-back-top > p {
		padding: 6% 0;
		height: 100%;
	}

	#theme-toggle-container {
		right: 20%;
	}
}

@keyframes animate-cherry {
	0% {
		transform: translateY(-10px) rotate3d(0, 1, -1, 192deg);
	}
	100% {
	}
}

#cake-background {
	background-color: var(--colour-bg-4);
	top: 0;
	padding-top: 10px;
	padding-bottom: 15px;
}

#cake-background > p {
	font-size: 2.25em;
	color: var(--colour-lighttext-contrasting);
}

#cake-svg {
	height: 40vw;
}

#cherry {
	position: relative;
	z-index: 2;
	animation: animate-cherry 3s ease-out 1;
}

@media (prefers-reduced-motion) {
	@keyframes animate-cherry {
		0% {
		}
		100% {
		}
	}

	@keyframes icon-shake {
		0% {
		}
		100% {
		}
	}

	@keyframes icon-gitlab-shake {
		0% {
		}
		100% {
		}
	}

	@keyframes icon-linkedin-shake {
		0% {
		}
		100% {
		}
	}

	.static-project-card:hover {
		transform: none;
	}

	.moon,
	.sun {
		transform: scale(1);
	}
}

.tag {
	position: relative;
	height: 0.9em;
	width: 0.9em;
	margin: auto;
	padding-right: 10px;
}

.inline-svg {
	position: relative;
	height: 1em;
	width: 1em;
}

.inline-svg-title {
	height: 1.25em;
	width: 1.25em;
	transform: translateY(25%);
}

.tag-lang {
	height: 0.9em;
	width: 0.9em;
	margin: 0;
	padding: 0 3px;
}

.tags {
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	padding: 5px;
}

.contact-links {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

#icon-gitlab,
#icon-linkedin {
	fill: currentColor;
	height: 2em;
	width: 2em;
}

@keyframes animate-bg {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 100% 100%;
	}
}
